<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.olivine.cholodesh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".TripRouteActivity"
            android:label="@string/title_activity_custome_trip"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ItineraryPlanner" />
        <activity android:name=".TailorMadeActivity"
            android:label="TailorMade"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AccommodationActivity"
            android:label="@string/title_activity_accommodation"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AccommodationProviderActivity" />
        <activity
            android:name=".TripPlannerActivity"
            android:label="@string/title_activity_trip_planner"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AccommodationRoomlistActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".TailormadeListActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FoodListActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".HotelListActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".HotelDetailsActivity"
            android:label="@string/title_activity_hotel_details"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HotelRoomListActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".PackageDetailsActivity"
            android:label="Package Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PackageItinerayActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DestinationActivity"
            android:label="Destination"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowPopUp"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".NearByPlaceDetailsActivity"
            android:label="Near By Place"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RatingActivity"
            android:label="Rating"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FoodDetailsActivity"
            android:label="Food"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>